extend ../layout.jade

block content 
  
 .row 
  .col-md-12 
   div(style='float:right')
     button.btn.btn-dark.btn-sm(data-toggle='modal' data-target='#add_new_outlet')  Add New Outlet  
 .row.mt-5 
  .col-md-12
   .card.card-shadow 
    .card-header 
     strong Outlets
    .card-body
     table.table.mytable(style='width:100%')
                thead
                    tr
                        th Outlet Name 
                        th Device ID 
                        th Actions
                        

                tbody
                 each outlet in outlets 
                  tr 
                   td=outlet.outlet_name 
                   td=outlet.device_id 
                    td
                      .dropdown.show
                       a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                          | More Options
                       .dropdown-menu(aria-labelledby='dropdownMenuLink')
                          a.dropdown-item(href="/account/delete_outlet/#{outlet.id}" method= "POST") Delete Outlet
                          a.dropdown-item(data-toggle='modal' data-target='#updateoutlet' class="btn btn-default" data-whatever='#{JSON.stringify(outlet)}') Update Outlet Details
                          a.dropdown-item(href="#" data-toggle='modal' data-target='#viewproperties' data-whatever='#{JSON.stringify(outlet.device_properties)}' ) View Device Properties


     
block modals

  .modal.fade#add_new_outlet(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title Add New Outlet
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body     
          .row 
            .col-md-12 
              form.form(action="/account/add_new_outlet" method='POST')
                .form-group 
                  label(for="device_type") Outlet Name
                  input.form-control(type="text" name='outlet_name' required)
                
                .form-group 
                  label(for="device_type") Device ID
                  input.form-control(type="text" name='device_id' required) 

                .form-group 
                  div(style='float:right')
                    button.btn.btn-dark.btn-sm Save

  .modal.fade#viewproperties(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title View Properties
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body   
          .row 
            .col-md-12
               #view_properties

  .modal.fade#updateoutlet(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title Update Outlet Details
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body     
          .row 
            .col-md-12 
              form.form(action="/account/edit_outlet" method='POST')
                .form-group 
                  label(for="device_type") Outlet Name
                  input#outlet_id(type="hidden" name='outlet_id')
                  input.form-control#outlet_name(type="text" name='outlet_name' required) 

                .form-group 
                  div(style='float:right')
                    button.btn.btn-dark.btn-sm Update